<!DOCTYPE html>
<html lang="en-AU">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="bakerBuddy.css"></link>
  <title>Baker Buddy</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <h3>Baker Buddy</h3>
  <object width='10%' height='10%' data='imgs/bread.svg' type='image/svg+xml'></object>

  <div id="doughType">
    <b>Dough Type:</b> {{ message }}
  </div>

  <div id="ingredientList">
    <!--
    <input type="text" v-model='ingredientName'>
    <input type="number" v-model='ingredientWeight'>
    <button @click='addIngredient(ingredientName, ingredientWeight)'>
        Add
    </button>
    -->

    <table>
      <tr>
        <th>Ingredient</th>
        <th>Grams</th>
        <th>Baker's Percentage</th>
      </tr>
      <tr 
        is='ingredient-item' 
        v-for='ingredient in ingredientList' 
        v-bind:ingredient='ingredient' 
        v-bind:key=ingredient.id>
      </tr>
    </table>
  </div>

  <script src="./index.js"></script>
</body>
</html>
<!--
        <ingredient-item
            v-for='ingredient in ingredientList'
            v-bind:ingredient='ingredient'
            v-bind:key='ingredient.name'>
        </ingredient-item>
-->
