<!DOCTYPE html>
<html lang="en-AU">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
    <body>
        <h3>Baker Buddy</h3>
        <object width='10%' height='10%' data='imgs/bread.svg' type='image/svg+xml'></object>
        <p>Enter ingredients in grams:</p>
        <div ng-app="bakerBuddy" ng-controller="myCtrl"> 
            <p>Flour: <input type="number" ng-model="flour" ng-click="updateTotal()"></p>
            <p>Water: <input type="number" ng-model="water" ng-click="updateTotal()"></p>
            <p>Salt: <input type="number" ng-model="salt"></p>
            <p>Yeast: <input type="number" ng-model="yeast"></p>
            <span ng-load="updateTotal()">Baker's Percentage: {{total}}%</span>
        </div>
        <script src='bakerBuddy.js'></script>
        <script src='bakerBuddyCtrl.js'></script>
    </body>
</html>
