<!DOCTYPE html>
<html lang="en-AU">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="bakerBuddy.css"></link>
  <title>Baker Buddy</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <h3>Baker Buddy</h3>
  <object width='10%' height='10%' data='imgs/bread.svg' type='image/svg+xml'></object>

  <div id="doughType">
    <b>Dough Type:</b> {{ message }}
  </div>
    <div id='ingredientList'>
    <table>
      <thead>
        <tr>
          <th v-for="col in columns">
            {{col}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for='ingredient in ingredientList'>
          <td v-for='col in columns'>
            {{ingredient[col]}}
          </td>
        </tr>
      </tbody>
    </table>
    </div>

  <script src="./index.js"></script>
</body>
</html>
